@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
}

/*Header Styles*/
.header_container {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 0px 20px;
  border-radius: 10px;
}

.btn {
  background-color: #7dda58;
  border: none;
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out;
}

.btn:hover {
  background-color: #7dda58c5;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  gap: 20px;
  margin-top: 50px;
}

.form_input {
  border: none;
  padding: 10px;
  height: 20px;
  border-radius: 5px;
}
